/contig_classifier.egg-info/
.idea
/whokaryote_scripts/test_prediction.py
/whokaryote_scripts/train_classifier.py
/whokaryote_scripts/train_kmers_only.py
/whokaryote/scripts/test_kmer_predictions.py
/Whokaryote.egg-info/
build/
dist/
__pycache__
